<div class="aboutUs">
	<h2>About Us</h2>

	<hr>
	<div class="center">
		<img src="/images/gio@3x.png" alt="Giovanni Penna">
	</div>

	<h3 align="center">Giovanni Peña</h3>
	<h5 align="center">Chief Executive Officer</h5>
	<p>
		Hi! My name is Giovanni. I have spent the last 10 years working with electronic health record systems in various outpatient, hospital, and business settings. My professional experience combined with the passion to help people and solve problems, have brought me to you today. With the help of a rockstar team, we’ve created MyCannabisRx, the first step in creating your Electronic Cannabis Health Record.</p>
	<p>
		Senior health IT professional with a clinical background. A results-oriented individual specializing in creative solutions, improving end-user experience, and optimizing workflows. I view challenges as an opportunity to showcase my soft skills by listening objectively, communicating effectively, and working collaboratively.
	</p>
	<hr>
</div>
