<div class="contactUs">
	<h2 align="center">Contact Us</h2>
	<form method="POST" action="https://formspree.io/sagar@mycannabisrx.net">
		<div class="form-group">
			<label for="Email" style="color: rgba(255, 255, 255, .5)">Email Address:</label>
			<input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Please enter your email address here.">
			<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small><br>
			<label for="Message" style="color: rgba(255, 255, 255, .5)">Message:</label>
			<textarea class="form-control" name="message" rows="3" placeholder="Please enter your message here."></textarea><br>
			<button type="submit" class="btn btn-primary" style="width: 100%">Send</button>
		</div>
	</form>
</div>
