<div class="contactUs">
	<h2 align="center">Contact Us</h2>
	<hr>
	<br>
	<div style="width: 50%; margin: auto;">
		<h4 id="red">Don't be a stranger</h4>
		<h4>just say hello.</h4>
		<p>Feel free to get in touch with me, I'm always open to discussing new creative ideas, suggestions, feedbacks or opportunities to be part of your visions. Just drop a note.</p>
	</div>
	<form method="POST" action="https://formspree.io/gio@mycannabisrx.net" style="margin: 20px 0px 20px 0px;">
		<div class="form-group" style="width: 50%; margin: auto;">
			<label for="Email" style="color: rgba(255, 255, 255, .5)">Email Address:</label>
			<input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Please enter your email address here.">
			<small id="emailHelp" class="form-text text-muted">We'll NEVER share your email with anyone else.</small><br>
			<label for="Message" style="color: rgba(255, 255, 255, .5)">Message:</label>
			<textarea class="form-control" name="message" rows="3" placeholder="Please enter your message here."></textarea><br>
			<input type="hidden" name="_next" value="#!ThankYou" />
			<input type="text" name="_gotcha" style="display:none" />
			<button type="submit" class="btn btn-primary" style="width: 100%">Send</button>
		</div>
	</form>
</div>
