<div class="home">
	<h2>Welcome!</h2>
	<hr>
	<br>
	<div style="margin: auto; width: 250px;">
		<img src="/images/large-logo.PNG" alt="My Cannabis Rx Logo">
	</div>
	<div style="margin: 5%;">
		<p>
			The MyCannabisRx mobile app allows you to track your medical cannabis use and share results with your doctor.
		</p>
		<p>
			The MyCannabisRx mobile app is the first step in creating your Electronic Cannabis Health Record. Document, track, and trend your medical cannabis usage to better understand how the medicine works best for you. Then, send that information to your cannabis physician with only a few touches on your iPhone screen.
		</p>
	</div>
</div>
