 <!-- About Section -->
    <section id="download">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Download Now!</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <p>The MyCannabisRx mobile app is the first step in creating your Electronic Cannabis Health Record. Document, track, and trend your medical cannabis usage to better understand how the medicine works best for you. Then, send that information to your cannabis physician with only a few touches on your iPhone screen.</p>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://search.itunes.apple.com/WebObjects/MZContentLink.woa/wa/link?mt=8&path=apps%2fus%2fmyapp%2fid1437000524?ls=1&mt=8" class="btn btn-lg btn-outline">
                        <img src='https://developer.apple.com/app-store/marketing/guidelines/images/badge-example-alternate.png'></a>
                    </a>
                </div>
            </div>
            <hr>
        </div>
	</section>
