.center {
	margin: auto;
	width: 135px;
}

.aboutUs img {
	border-radius: 50%;
	display: block;
	border: 2px solid white;
	width: 130px;
	height: 130px;
}

.aboutUs p {
	color: rgba(255, 255, 255, .5);
}

.aboutUs h3 {
	color: rgba(255, 255, 255, .5);
}

.aboutUs h5 {
	color: rgba(255, 255, 255, .5);
}

.aboutUs h2 {
	color: rgba(255, 255, 255, .5);
	text-align: center;
}

.aboutUs hr {
	display: block;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: auto;
	margin-right: auto;
	border-style: inset;
	border-width: 1px;
	color: aqua;
}
